mixin sAboutBrick(data)
	// start sAboutBrick
	+b.sAboutBrick.section#sAboutBrick&attributes(attributes)
		.container
			+e.row
				+pic("sAboutBrick-img",'bg')
				+e.block
					h3 Именной кирпич
					p Это обычный строительный кирпич, на котором указано имя того человека, кто пожертвовал на храм, или имя человека, за которого внесли пожертвование. На собранные средства приобретаются строительные кирпичи и другие стройматериалы, необходимые для строительства храма, а имена жертвователей записываются на стены строящегося храма и вносятся в специальную церковную книгу для поминовения на каждом богослужении.
					h3 Что даёт именной кирпич
					p — За человека, чьё имя указано на кирпичике, будут молиться на каждом богослужении как за строителя до тех пор, пока будет стоять Храм.
	// end sAboutBrick