mixin sBlog(data)
	// start sBlog
	+b.sBlog.section#sBlog&attributes(attributes)
		.container
			.row
				+blogItem({
					img: '1',
					date: '21.11.2020',
					title: `Рождественский пост. Как провести его с пользой для души?`,
					text: `Любой пост&nbsp;&mdash; это время покаяния и&nbsp;очищения своей души от&nbsp;грехов. Каждый из&nbsp;четырёх постов церковного года подготавливает нас к&nbsp;тому или иному событию Священной Истории, которая сохраняет свою актуальность для человечества во&nbsp;все времена...`,
				})
				+blogItem({
					img: '2',
					date: '14.11.2020',
					title: `Обзор событий недели с 16 по 22 ноября`,
					text: `Какие прозвища в&nbsp;юности давали товарищи святителю Тихону? Известны&nbsp;ли Вам имена всех 9-ти ангельских чинов? И&nbsp;за&nbsp;что икона &laquo;Скоропослушница&raquo; получила свое название? На&nbsp;эти другие вопросы&nbsp;Вы найдете ответы в&nbsp;нашем еженедельном календаре церковных праздников.`,
				})
				+blogItem({
					img: '3',
					date: '02.11.2020',
					title: `Таинство Соборования. В чём его польза для христиан и как в нём участвовать?`,
					text: `&laquo;Болен&nbsp;ли кто из&nbsp;вас, пусть призовет пресвитеров Церкви, и&nbsp;пусть помолятся над ним, помазав его елеем во&nbsp;имя Господне. И&nbsp;молитва веры исцелит болящего, и&nbsp;восставит его Господь; и&nbsp;если он&nbsp;соделал грехи, простятся ему&raquo;...`,
				})
				+blogItem({
					img: '4',
					date: '31.10.2020',
					title: `Обзор событий недели с 2 по 8 ноября`,
					text: `Какие народные традиции связаны с&nbsp;праздником Казанской иконы Божией Матери? Какими событиями прославился образ Богородицы &laquo;Всех скорбящих Радость&raquo;? И&nbsp;как подготовиться к&nbsp;Димитриевской родительской субботе? На&nbsp;эти другие вопросы&nbsp;Вы найдете ответы в&nbsp;нашем...`,
				})
				+blogItem({
					img: '5',
					date: '23.10.2020',
					title: `Память святых отцев VII Вселенского Собора`,
					text: `По&nbsp;традиции VII Вселенский Собор еще называют &laquo;Собором 350&nbsp;отцев&raquo;. У&nbsp;собравшихся была одна очень важная цель&nbsp;&mdash; борьба со&nbsp;смутой и&nbsp;ересью в&nbsp;Церкви`,
				})
				+blogItem({
					img: '6',
					date: '23.10.2020',
					title: `Прп. Иов, игумен Почаевский`,
					text: `10&nbsp;сентября (28&nbsp;августа по&nbsp;ст.ст.) Русская Православная Церковь празднует обретение мощей Иова Почаевского, стоявшего железной стеной за&nbsp;Русское Православие. Еще при жизни этого святого называли &laquo;ангелом среди братьев&raquo;.`,
				})
			
	// end sBlog

mixin blogItem(data)
	.col-sm-6.col-lg-4
		+b.blogItem
			+e.imgWrap(href="#")
				+pic(`blogImg-${data.img}.jpg`,'','')
			+e.date(href="#")= data.date
			+e.title(href="#")= data.title
			p!= data.text
			+e.btn(href="#") Перейти к статье