.footer {
	padding-top: rem(50);
	padding-bottom: rem(30);
	background-color: $secondary;
	margin-top: auto;

	ul {
		li {
			list-style: none;
			position: relative;
			&::before {
				content: '';
				position: absolute;

			}
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		text-transform: uppercase;
	}
	
	&__listTitle {
		color: #fff;
		font-weight: 700;
	}


@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}
}
