mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				
				+e.listCol.col-lg-8
					.row
						.col-lg-4
							+e.listTitle Подать записки
							ul
								li: a(href="#") Записки в монастыри
								li: a(href="#") Записки святым
								li: a(href="#") Записки к иконам
								li: a(href="#") Записки к праздникам
						.col-lg-4
							+e.listTitle Молебны о помощи
							ul
								li: a(href="#") Молебен здравствующим
								li: a(href="#") Молебен усопшим
								li: a(href="#") Церковная лавка 
								li: a(href="#") Паломнический центр
						.col-lg-4
							ul
								li: a(href="#") Какие бывают записки?
								li: a(href="#") Как работает сервис?
								li: a(href="#") О нас
								li: a(href="#") Наш Блог
				.col
					+e.wrap
						+e.phoneWrap
							+e.phoneIcon
								img.res-i(src="img/@2x/phone.png", alt="" loading="lazy")
							+e.phone
								a(href="tel:+7(495)4099235") +7 (495) 409-92-35
								a(href="tel:+7(965)1393510") +7 (965) 139-35-10
						+e.call(href="#") ЗАКАЗАТЬ ЗВОНОК
						+soc
					+e.btn(href="#") НАПИСАТЬ РУКОВОДИТЕЛЮ
				+e.col.col-lg-8
					+e.link(href="#") Пользовательское соглашение
					+e.link(href="#") Публичная оферта
					+e.link(href="#") Информация о платежах




