.footer {
	padding-top: rem(50);
	padding-bottom: rem(30);
	background-color: $secondary;
	margin-top: auto;

	ul {
		li {
			list-style: none;
			position: relative;
			padding-left: rem(12);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: rem(7);
				width: rem(10);
				height: rem(14);
				background-image: url('../img/@2x/cevron-right.png');
				background-position: center;
				background-size: 100% 100%;
			}
		}

		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: $primary;
			}
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		text-transform: uppercase;
	}
	
	&__listTitle {
		color: #fff;
		font-weight: 700;
	}


@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}
}
