.footer {
	padding-top: rem(50);
	padding-bottom: rem(30);
	background-color: $secondary;
	margin-top: auto;

	ul {
		li {
			list-style: none;
			position: relative;
			padding-left: rem(12);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: rem(7);
				width: rem(10);
				height: rem(14);
				background-image: url('../img/@2x/cevron-right.png');
				background-position: center;
				background-size: 100% 100%;
			}
		}

		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: $primary;
			}
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		text-transform: uppercase;
	}
	
	&__listTitle {
		color: #fff;
		font-weight: 700;
	}

	&__wrap {
		@include media-breakpoint-up(xl) {
			padding-left: rem(100);
		}

		margin-bottom: rem(35);
	}

	&__phoneWrap {
		display: flex;
		align-items: center;
	}

	&__phone {
		a {
			color: #fff;
			text-decoration: none;
			display: block;
		}
	}

	&__phoneIcon {
		margin: rem(15);
	}

	&__call {
		text-transform: uppercase;
		color: #fff;
		border-bottom: solid 1px;
		display: inline-block;
		margin-bottom: rem(15);
		margin-left: rem(13);
		margin-top: rem(15);
	}

	.soc{
		padding-left: rem(13);
	}

	&__foot {
		padding-top: rem(17);
		color: #fff;
	}

	&__link {
		border-bottom: 1px solid;
		display: inline-block;
		color: #fff;
		font-size: $small;
		font-weight: 300;
		&:not(:last-child) {
			margin-right: rem(10);
			@include media-breakpoint-up(xl) {
				margin-right: rem(30);
			}
		}
	}


@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}
}
