
mixin modal() 
	//  start modals

	+b.modal-win--reg(id="modal-login" class=" " style="display: none" )
		+form-wrap
			.tabs.tabs--js
				.tabs__caption
					.tabs__btn.active Авторизация
					.tabs__btn Регистрация
				.tabs__wrap
					.tabs__content.active
						+input('Введите логин','text','Логин')
						+input('Введите пароль','password','Пароль')
						+in-c("checkbox",'Запомнить меня')
						.text-center
							+e.BUTTON.btn.btn.btn-secondary.px-5(type="submit"  )  Вход
					.tabs__content
						.small Зарегистрировавшись вы&nbsp;получите доступ к&nbsp;личному кабинету с&nbsp;множеством функций
						+input('Введите ваше Имя','text','Ваше имя')
						+input('Введите ваш e-mail','email','Ваш E-mail')
						+input('Введите пароль','password','Пароль')
						+input('Введите пароль','password','Повторите пароль')
					 
						.text-center
							+e.BUTTON.btn.btn.btn-secondary.px-5(type="submit"  )  Вход

	+b.modal-win--place(id="modal-place" class=" " style="display: none" )
		+form-wrap
			+e.title.text-center Добавить место
			+e.places
				.row
					mixin item(i,t)
						+e.placesItem.col-6.col-sm-4.col-md-3
							+b.LABEL.Check-block--modal
								+e.checkImg
									+pic(`${i}`,'','')
								input(type="checkbox")
								+e.lab
								+e.title!= t
					+item('diveevo.jpg',`Свято-Успенская Киево-Печерская лавра`)
					+item('monasteries-3',`Свято-Троицкий Серафимо-Дивеевский монастырь`)
					+item('monasteries-2',`Псково-Печерский монастырь`)
					+item('modalImg',`Свято-Покровский женский монастырь`)
					+item('monasteries-5',`Господу и Богу нашему`)
					+item('monasteries-6',`Блаженная Матрона Московская`)
					+item('monasteries-7',`Святитель Николай Чудотворец в Бари`)
					+item('monasteries-8',`Преподобный Серафим Саровский`)
					+item('diveevo.jpg',`Свято-Успенская Киево-Печерская лавра`)
					+item('monasteries-3',`Свято-Троицкий Серафимо-Дивеевский монастырь`)
					+item('monasteries-2',`Псково-Печерский монастырь`)
					+item('modalImg',`Свято-Покровский женский монастырь`)
					+item('monasteries-5',`Господу и Богу нашему`)
					+item('monasteries-6',`Блаженная Матрона Московская`)
					+item('monasteries-7',`Святитель Николай Чудотворец в Бари`)
					+item('monasteries-8',`Преподобный Серафим Саровский`)
			+e.total Общая стоимость: #[span 1 500 руб.]
			+e.btnWrap
				+e.btnPlace.btn.btn-outline-secondary(type="submit") Сохранить
				+e.btnPlace.btn.btn-outline-secondary(type="submit") Отменить


	+b.modal-win--calendar(id="modal-calendar" class=" " style="display: none" )
		+form-wrap
			+e.title.text-center Добавить дату
			+input('','text','Добавить Имя:')
			+input('','date','Добавить дату')
			+in-c("checkbox",'Получать уведомление о приближении даты на почту')(checked)
			+e.btnWrap
				+e.BUTTON.btn.btn.btn-outline-secondary(type="submit"  ) Отмена
				+e.BUTTON.btn.btn.btn-secondary(type="submit"  ) Добавить
	// #modal-call
	
	// end modals