
mixin modal() 
	//  start modals

	+b.modal-win--reg(id="modal-login" class=" " style="display: none" )
		+form-wrap
			.tabs.tabs--js
				.tabs__caption
					.tabs__btn.active Авторизация
					.tabs__btn Регистрация
				.tabs__wrap
					.tabs__content.active
						+input('Введите логин','text','Логин')
						+input('Введите пароль','password','Пароль')
						+in-c("checkbox",'Запомнить меня')
						.text-center
							+e.BUTTON.btn.btn.btn-secondary.px-5(type="submit"  )  Вход
					.tabs__content
						.small Зарегистрировавшись вы&nbsp;получите доступ к&nbsp;личному кабинету с&nbsp;множеством функций
						+input('Введите ваше Имя','text','Ваше имя')
						+input('Введите ваш e-mail','email','Ваш E-mail')
						+input('Введите пароль','password','Пароль')
						+input('Введите пароль','password','Повторите пароль')
					 
						.text-center
							+e.BUTTON.btn.btn.btn-secondary.px-5(type="submit"  )  Вход
	// #modal-call
	
	// end modals