// start .sMonasteries
.sMonasteries {
	--sPB: #{rem(0)};
	.section-title {
		position: relative;
		h3 {
			text-transform: uppercase;
		}

		&__imgWrap {
			text-align: center;
			margin-bottom: rem(26);
		}
	}

	&__btn {
		@extend .btn;
		margin-top: rem(15);
		margin-bottom: rem(60);
		@include media-breakpoint-up(xl) {
			margin-top: rem(31);
			margin-bottom: rem(85);
			min-width: rem(350);
		}
	}

	&__row {
		@include media-breakpoint-up(xl) {
			@include roww(40px);
		}
	}


	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sMonasteries

.monasteriesItem {
	display: block;
	text-decoration: none !important;
	background-color: #e6e8f6;
	margin-bottom: rem(20);

	&__title {
		display: block;
		border-bottom: solid 1px #adabab;
		padding-bottom: rem(13);
		color: $body-color;
		margin-bottom: rem(18);
	}

	&__name {
		color: $body-color;
		line-height: 1;
		display: block;
	}

	&__imgWrap {
		border: solid 1px #dddddd;
		padding: rem(3px);
		background-color: #fff;
		display: block;
	}

	&__row {
		@include roww(17px);
	}

	&__col {
		padding-top: rem(16);
		padding-right: rem(20);
	}
}