mixin sMonasteries(data)
	// start sMonasteries
	+b.SECTION.sMonasteries.section#sMonasteries&attributes(attributes)
		.container
				
			+e.row.row
				.col-lg-6
					+b.section-title.text-center
						+e.imgWrap.d-sm-none
							+pic('monasteries-title-img.png','','')
						h3 Записки в Монастыри
					+monasteriesItem('1','Киево-Печерская Лавра',`Свято&#8209;Успенская Киево&#8209;Печерская Лавра`)
					+monasteriesItem('2','Псково-Печерский монастырь',`Свято&#8209;Успенский Псково&#8209;Печерский монастырь`)
					+monasteriesItem('3',`Дивеево`,`Свято&#8209;Троицкий Серафимо&#8209;Дивеевский монастырь`)
					+monasteriesItem('4',`Покровский женский монастырь`,`Покровский монастырь г.&nbsp;Москва`)
					.text-center
						+e.btn.btn-primary(href="#") Все записки в Монастыри
				.col-lg-6
					+b.section-title.text-center
						+e.imgWrap.d-sm-none
							+pic('monasteries-title-img.png','','')
						h3 записки святым
					+monasteriesItem('5',`Господу и Богу нашему`,`Свято&#8209;Вознесенская Давидова пустынь`)
					+monasteriesItem('6',`Блаженная Матрона Московская`,`Покровский ставропигиальный женский монастырь`)
					+monasteriesItem('7',`Святитель Николай Чудотворец в БАРИ`,`Базилика свт. Николая Чудотворца в&nbsp;Бари`)
					+monasteriesItem('8',`Преподобный Серафим Саровский`,`Дивеевский Свято&#8209;Троицкий женский монастырь`)
					.text-center
						+e.btn.btn-outline-secondary(href="#") Все записки к Святым
				.col-lg-6
					+b.section-title.text-center
						+e.imgWrap.d-sm-none
							+pic('monasteries-title-img.png','','')
						h3 записки к иконам
					+monasteriesItem('1','Киево-Печерская Лавра',`Свято&#8209;Успенская Киево&#8209;Печерская Лавра`)
					+monasteriesItem('2','Псково-Печерский монастырь',`Свято&#8209;Успенский Псково&#8209;Печерский монастырь`)
					+monasteriesItem('3',`Дивеево`,`Свято&#8209;Троицкий Серафимо&#8209;Дивеевский монастырь`)
					+monasteriesItem('4',`Покровский женский монастырь`,`Покровский монастырь г.&nbsp;Москва`)
					.text-center
						+e.btn.btn-outline-secondary(href="#") Все записки к Иконам

				.col-lg-6
					+b.section-title.text-center
						+e.imgWrap.d-sm-none
							+pic('monasteries-title-img.png','','')
						h3 Записки к праздникам
					+monasteriesItem('5',`Господу и Богу нашему`,`Свято&#8209;Вознесенская Давидова пустынь`)
					+monasteriesItem('6',`Блаженная Матрона Московская`,`Покровский ставропигиальный женский монастырь`)
					+monasteriesItem('7',`Святитель Николай Чудотворец в БАРИ`,`Базилика свт. Николая Чудотворца в&nbsp;Бари`)
					+monasteriesItem('8',`Преподобный Серафим Саровский`,`Дивеевский Свято&#8209;Троицкий женский монастырь`)
					.text-center
						+e.btn.btn-outline-secondary(href="#") Все записки к праздникам

	// end sMonasteries

mixin monasteriesItem(i,title,name)
	+b.monasteriesItem(href="#")
		+e.row.row
			.col-sm-auto
				+e.imgWrap
					+pic(`monasteries-${i}.jpg`,'','')
			+e.col.col
				+e.title!=title
				+e.row.row.align-items-center
					.col-auto
						+e.imgSm
							+pic(`monasteriesSm-${i}.jpg`,'','')
					.col
						+e.name!= name