mixin sPrayersList(data)
	// start sPrayersList
	+b.sPrayersList.section#sPrayersList&attributes(attributes)
		.container 
			.row
				mixin li(a)
					li: +e.link(href="#")
						+icon('icon')
						+e.DIV.text: span= a
				.col-xl-6
					+e.title Молебны об упокоении
					ul
						+li("Заупокойная лития в 5-ти монастырях")
						+li("Еженедельная панихида об упокоении")
						+li("40 особых служб об упокоении родителей в 3-х, 5-ти, или 8-ми монастырях")
						+li("40 особых служб об упокоении ребенка в 3-х, 5-ти, или 8-ми монастырях")
						+li("40 особых служб об упокоении супруга/супруги в 3-х, 5-ти, или 8-ми монастырях")
						+li("Проскомидия упокоении 40 дней")
						+li("Проскомидия упокоени 6 мес.")
						+li("Проскомидия упокоени 1 год")
						+li("Проскомидия упокоени в 10-ти монастырях")
						+li("Особое поминовение усопших родных и близких  в 3-х, 5-ти, или 8-ми монастырях")
						+li("40 	Панихид - 40 особых служб за умершего")
						+li("Панихида об упокоении погибших воинов")
				.col-xl-6
					+e.title Неусыпаемая псалтырь и сорокоуст об упокоении
					ul
						+li("Сорокоуст об упокоении в 3-х монастырях")
						+li("Сорокоуст об упокоении в 5-ти монастырях")
						+li("Сорокоуст об упокоении в 7-ми монастырях")
						+li("Сорокоуст об упокоении в 10-ти монастырях")
						+li("Неусыпаемая Псалтирь об упокоении в 3-х, 5-ти, или 8-ми монастырях - 1 мес.")
						+li("Неусыпаемая Псалтирь об упокоении в 3-х, 5-ти, или 8-ми монастырях - 6 мес.")
						+li("Неусыпаемая Псалтирь об упокоении в 3-х, 5-ти, или 8-ми монастырях - 1 год")
						+li("Неусыпаемая Псалтирь об упокоении на 5 лет")
						+li("Неусыпаемая Псалтирь об упокоении на 10 лет")
						+li("Вечное поминовение усопшего в Годеново")
						+li("Заочное отпевание в 3-х монастырях")
						+li("Заочное отпевание в 5-ти монастырях")
	// end sPrayersList

	
mixin sPrayersList2(data)
	// start sPrayersList
	+b.sPrayersList.section#sPrayersList&attributes(attributes)
		.container 
			.row
				mixin li(a)
					li: +e.link(href="#")
						+icon('icon')
						+e.DIV.text: span= a
				.col-xl-6
					+e.title Молебны об упокоении
					ul
						+li("Заупокойная лития в 5-ти монастырях")
						+li("Еженедельная панихида об упокоении")
						+li("40 особых служб об упокоении родителей в 3-х, 5-ти, или 8-ми монастырях")
						+li("40 особых служб об упокоении ребенка в 3-х, 5-ти, или 8-ми монастырях")
						+li("40 особых служб об упокоении супруга/супруги в 3-х, 5-ти, или 8-ми монастырях")
						+li("Проскомидия упокоении 40 дней")
						+li("Проскомидия упокоени 6 мес.")
						+li("Проскомидия упокоени 1 год")
						+li("Проскомидия упокоени в 10-ти монастырях")
						+li("Особое поминовение усопших родных и близких  в 3-х, 5-ти, или 8-ми монастырях")
						+li("40 	Панихид - 40 особых служб за умершего")
						+li("Панихида об упокоении погибших воинов")
					+e.title Молебны о помощи в делах
					ul
						+li("Молебен о собственном жилье")
						+li("Молебен о помощи в решении финансовых проблем")
						+li("Молебен о помощи в делах")
						+li("Молебен о работе, в поиске, повышении")
						+li("Молебен о путешествующих")
						+li("Молебен о примирении враждующих")
						+li("Молебен за находящихся под воздействием злых духов")
						+li("Молебен о примирении и прощении")
						+li("Молебен о помощи в судебных спорах")
						+li("Молебен о пострадавших от колдунов, магов, экстрасенсов")
						+li("Молебен о помощи ипри покупке, продаже имущества")
						+li("Молебен о принятии правильного решения")
						+li("Молебен об осужденных и находящихся в заключении")
						+li("Молебен о воинах и защитниках Отечества")
						+li("Молебен о безопасном перелете на самолете")
				.col-xl-6
					+e.title Молебны в помощи семье и детям
					ul
						+li("Молебен о создании счастливой семьи")
						+li("Молебен о благополучных родах")
						+li("Молебен о сохранении здоровой беременности")
						+li("Молебен о зачатии здорового ребенка")
						+li("Молебен об избавлении от страсти блуда мужа или жены")
						+li("Молебен о любви в поиске мужа или жены")
						+li("Молебен о возвращении супруга, любимого человека")
						+li("Молебен о благополучии детей")
						+li("Молебен о вразумлении мужа или жены")
						+li("Молебен о сохранении семейного счастья")
						+li("Молебен о собственом жилье")
						+li("Молебен об успехах и усердии в учебе")
						+li("Молебен о даровании и прибавлении ума")
						+li("Молебен о покупке квартиры или дома")
					+e.title Неусыпаемая псалтырь и сорокоуст
					ul
						+li("Неусыпаемая Псалтирь о Здравии в 5  монастырях - 1 год") 
						+li("Неусыпаемая Псалтирь о здравии в 5  монастырях - 1 мес.") 
						+li("Сорокоуст о здравии в 5 монастырях") 
						+li("Сорокоуст о Здравии на полгода") 
						+li("Сорокоуст о здравии на 1 год") 
						+li("Неусыпаемая Псалтирь о здравии на 5 лет") 
						+li("Неусыпаемая Псалтирь о здравии в 5 монастырях - 6 мес.") 
	// end sPrayersList

mixin sPrayersList5(data)
	// start sPrayersList
	+b.sPrayersList.bg-wrap.section#sPrayersList&attributes(attributes)
		+pic('nameBrick-bg.jpg','bg','')(class="picture-bg d-none d-lg-block")
		+pic('nameBrick-mob-bg.jpg','bg','')(class="picture-bg d-lg-none")
		.container 
			.row
				mixin li(a)
					li: +e.link(href="#")
						+icon('icon')
						+e.DIV.text: span= a
				.col-xl-6 
					ul
						+li("Молебен о создании счастливой семьи")
						+li("Молебен о благополучных родах")
						+li(" Молебен о сохранении здоровой беременности")
						+li("Молебен о зачатии здорового ребенка ")
						+li("Молебен об избавлении от страсти блуда мужа или жены ")
						+li("Молебен о любви в поиске мужа или жены ")
						+li("Молебен о возвращении супруга, любимого человека ")
						+li("Молебен о благополучии детей ")
						+li(" Молебен о вразумлении мужа или жены")
						+li("Молебен о сохранении семейного счастья ")
						+li(" Молебен о собственом жилье")
						+li(" Молебен об успехах и усердии в учебе")
						+li(" Молебен о даровании и прибавлении ума")
						+li("Молебен о покупке квартиры или дома")
				.col-xl-6 
					ul
						+li("Молебен за раковых и онкологических больных ") 
						+li(" Молебен об исцелении от болезни") 
						+li(" Молебен о доровании духовных и физических сил") 
						+li(" Молебен от уныния, хандры, депрессии") 
						+li("Молебен об избавлении от страсти блуда ") 
						+li("Молебен о помощи в избавлении от алкоголизма ") 
						+li("Молебен о помощи в избавлении от наркомании ") 
						+li(" Молебен о помощи в избавлении от игромании") 
						+li("Молебен об избавлении от чревоугодия ") 
						+li("Молебен об успешной медицинской операции ") 
						+li("Молебен о просьбе в прощении греха аборта ") 
						+li("Молебен о помощи в работе врачам и мед.персоналу ") 
	// end sPrayersList
