// start .headerBlock
.headerBlock {
	--sPT: #{rem(67)};
	--sPB: #{rem(82)};

	position: relative;
	margin-bottom: 1px;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;

	// h1 {
	// 	margin-bottom: 1px;
	// }

	// h2 {
	// 	margin-bottom: 1px;
	// }

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		display: block;
		text-transform: uppercase;
	}

	&__row {
		@include roww(18px);
	}
	
	&__col {
		padding-top: rem(34);
		padding-bottom: rem(50);
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			right: -13px;
			top: 0;
			height: 100%;
			width: 100vw;
			background-color: $body-bg;
			opacity: 0.64;
			z-index: -1;
		}
	}

	h4 {
		@include media-breakpoint-up(xl) {
			margin-top: rem(-5);
		}
		line-height: 1.4;
		margin-bottom: rem(50);
	}

	&__picBgWrap {

	}


	@include media-breakpoint-up(xs) {}
	//
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {}

}

// end.headerBlock