mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.picBgWrap
			+pic('headerBlock-bg.jpg','bg')(class="picture-bg")
		.container


			.row
				+e.col.col-lg-6
					+e.row.row
						.col-sm-auto
							+e.imgWrap
								+pic('matrona.jpg')
						.col
							h4 22&nbsp;ноября&nbsp;&mdash; день Рождения блаженной нашей матушки Матроны Московской. Подать записку Молебен к&nbsp;матушке Матроне о&nbsp;даровании нам духовных и&nbsp;физических сил
							+e.btn(href="#") подать записку
						
	// end headerBlock