mixin sSubmitNotes(data)
	// start sSubmitNotes
	+b.SECTION.sSubmitNotes.section#sSubmitNotes&attributes(attributes)
		form
			input(name='example-input-field', type='hidden')
			input(class="order", name='order', type='hidden', value=`Заявка  с сайта`) 
			input(class='utm_source' name='utm_source' type="hidden")
			input(class='utm_term' name='utm_term' type="hidden")
			input(class='utm_medium' name='utm_medium' type="hidden")
			input(class='utm_campaign' name='utm_campaign' type="hidden")
			.container
				+e.innerWrap
					+e.inner
						+e.row.row
							.col-lg.order-lg-last
								+e.nameWrap
									+e.nameForm.text-center
										+e.name Введите имена
										+e.pic
											+icon('icon')
											+pic('diveevo.jpg')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
										+input('Добавьте имя в Р.п.')
							.col-lg-7
								+e.imgWrap
									+pic('notesImg.jpg','','')
								+e.title Сорокоуст об упокоении в Дивеево
								+e.imgSm
									.row
										mixin img
											.col-3.col-md
												+pic('diveevo.jpg','','')
										+img
										+img
										+img
										+img
										+img
										+img
										+img
										+img
									+e.btnWrap
										+e.btnPlace.link-modal(href="#modal-place") Добавить святое место
								mixin radioRow(t)
									+e.radioRow.row.justify-content-between
										.col-md
											+b.LABEL.Check-block--row
												input(type="checkbox")
												+e.lab
												+e.title= t
										.col-md-auto
											+b.block-add--with-price
												button -
												input(type="number" value='1' )
												button +
												+e.price 200 руб.
								+e.radioWrap
									+radioRow('Поставить свечу за каждое имя')
									+radioRow('Поставить среднюю свечу за всех')
									+radioRow('Поставить большую свечу за всех')
									+radioRow('Пожертвовать в монастырь')
								+e.total Общая сумма:
									span 1 500 руб.
								+e.btnRow.row.justify-content-between
									.col-md
										+e.btn(type="submit") Сохранить заполнить новую
									.col-md-auto
										+e.btnSend(type="submit") Отправить

	// end sSubmitNotes