// start .sAbout
.sAbout {
	--sPB: #{rem(58)};
	--sPT: #{rem(64)};
	
	h2 {
		text-transform: uppercase;
		font-weight: 700;
	}

	h4 {
		margin-bottom: rem(45);
		line-height: calc(36/24);
	}

	&__btn {
		@extend .btn;
		@extend .btn-outline-secondary;
		text-transform: uppercase;
		@include media-breakpoint-up(lg) {
			min-width: rem(350);
		}
	}





	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout