// start .sAbout
.sAbout {
	--sPB: #{rem(30)};
	--sPT: #{rem(40)};
	--sTPB: #{rem(5)};
	@include media-breakpoint-up(md) {
	--sPT: #{rem(60)};
	--sPB: #{rem(58)};
	--sTPB: #{rem(28)};

	}
	
	h2 {
		text-transform: uppercase;
		font-weight: 700;
		
		&::before {
			position: static !important;

		}

		&::after {
			display: none !important;

		}
	}

	h4 {
		margin-bottom: rem(43);
		line-height: calc(36/22);
	}

	&__btn {
		@extend .btn;
		@extend .btn-outline-secondary;
		text-transform: uppercase;
		@include media-breakpoint-up(lg) {
			min-width: rem(350);
		}
	}

	.container {
		@include media-breakpoint-up(xl) {
			max-width: 1090px;
		}
	}






	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout