mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.text-center
				+b.section-title.text-center
					h2 о нашем сервисе
				h4 Интерактивный сервис подачи треб, молебен и&nbsp;записок основан на&nbsp;базе нашего поломнического центра &laquo;Святой Афон&raquo;. По&nbsp;многочисленным просьбам наших поломников, наш центр создал удаленный сервис подачи записок.
				+e.btn(href="#") подробне
	// end sAbout