extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sMonasteries/_sMonasteries.pug
include ../blocks/sPrayers/_sPrayers.pug
include ../blocks/sNameBrick/_sNameBrick.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAboutBrick/_sAboutBrick.pug
include ../blocks/sWork/_sWork.pug
include ../blocks/sBasket/_sBasket.pug
include ../blocks/sPrayersList/_sPrayersList.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Молитвы с просьбой  о помощи усопшим'
	title= title
block pagecontent

	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine() 
	.container
		+breadcrumb('Главная страница','Молебны о помощи', title)
	+b.page-title
		.container
				h1
					span= title
	+sPrayersList
	+sPrayers4
	//- +sAbout()
	+footer()


	