extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sMonasteries/_sMonasteries.pug
include ../blocks/sPrayers/_sPrayers.pug
include ../blocks/sNameBrick/_sNameBrick.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAboutBrick/_sAboutBrick.pug
include ../blocks/sWork/_sWork.pug
include ../blocks/sNotes/_sNotes.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Записки и требы в Дивеево'
	title= title
block pagecontent

	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine() 
	.container
		+breadcrumb('Главная страница',title)
	+b.page-title--other-width
		.container
				h1.mw-100-mob
					span= title
	+sNotes
	+sPrayers6
	//- +sAbout()
	+footer()


	