extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sMonasteries/_sMonasteries.pug
include ../blocks/sPrayers/_sPrayers.pug
include ../blocks/sNameBrick/_sNameBrick.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAboutBrick/_sAboutBrick.pug
include ../blocks/sWork/_sWork.pug
include ../blocks/sSubmitNotes/_sSubmitNotes.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Сорокоуст об упокоении в Дивеево'
	title= title
block pagecontent

	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine() 
	.container
		+breadcrumb('Главная страница',' Записки в Монастыри','Дивеево',title)
	+b.page-title
		.container
				h1.mw-100-mob
					span Сорокоуст об&nbsp;упокоении в&nbsp;Дивеево
				.text-center.pt-2
					p Здесь вы&nbsp;можете подать Записку на&nbsp;Сорокоуст об&nbsp;упокоении (ежедневное молитвенное поминовение на&nbsp;Богослужениях в&nbsp;течении 40&nbsp;дней) в&nbsp;Дивеево в&nbsp;Свято-Троицком Серафимо-Дивеевском женском монастыре. Чтобы о&nbsp;ваших умерших родных и&nbsp;близких, об&nbsp;упокоении их&nbsp;душ 40&nbsp;дней возносилась монастырская молитва ко&nbsp;Господу в&nbsp;Алтаре Храма. Гарантом своевременной доставки записок является Православная соцсеть &laquo;Святой Афон&raquo;
	+sSubmitNotes
	//- +sAbout()
	+footer()


	