extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sMonasteries/_sMonasteries.pug
include ../blocks/sPrayers/_sPrayers.pug
include ../blocks/sNameBrick/_sNameBrick.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'СВЯТОЙ АФОН'
	title= title
block pagecontent

	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine() 
	+headerBlock()
	+sMonasteries()
	+sPrayers()
	+sNameBrick()
	+sAbout()
	+footer()


	