mixin sNameBrick(data)
	// start sNameBrick
	+b.SECTION.sNameBrick.section#sNameBrick&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sNameBrick
				
			.row
	// end sNameBrick