// start .sNameBrick
.sNameBrick {
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(58)};
		--sTPB: #{rem(44)};

	}
	position: relative;


	&__slider {
		max-width: 90%;
		margin: 0 auto;
	}

	&__sliderWrap {
		position: relative;
	}

	picture {
		margin-bottom: rem(12);
	}

	&__title {
		line-height: 1.4;
	}




	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sNameBrick