mixin sNotes(data)
	// start sNotes
	+b.SECTION.sNotes.section#sNotes&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.d-none.d-lg-block
					+e.imgWrap
						+pic('diveevo.jpg','','')
				.accardion-js.col
					.row.align-items-center
						.col-auto
							+e.imgSm
								+pic('diveevo.jpg')
						.col
							+e.monastery Свято&#8209;Троицкий Серафимо&#8209;Дивеевский монастырь
					+e.location
						h4 Дивеево
					+e.textWrap--js
						p Здесь вы&nbsp;можете заказать молитвенные требы: Записки о&nbsp;здравии и&nbsp;упокоении у&nbsp;святых мощей преподобного Серафима Саровского, дивеевских святых, у&nbsp;иконы Богородицы &laquo;Умиление&raquo;, сорокоусты, Псалтири в&nbsp;Свято-Троицком Дивееском монастыре.
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
						+e.subtext В наши дни Дивеевскую обитель можно считать едва ли не самой известной среди монастырей России. Название этого места тесно
					+e.roww.row.align-items-end.justify-content-between
						.col-md-6
							+e.btn--js(type="button")
						.col-auto
							+soc
								+item-sos('vk-bg.jpg')
								+item-sos('ok.jpg')
								+item-sos('fb-bg.jpg')
								+item-sos('viber.jpg')
								+item-sos('whatsapp.jpg')
								+item-sos('telegram.jpg')
	// end sNotes