
$h: rem(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 14;
	position: relative;
	color: $secondary;
	font-size: 32px;
	width: 1em;
	&.on {
		color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 6;
	}

	span:after {
		bottom: $h * 6;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: .95em;
		height: rem(4);
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: calc(var(--vh, 1vh) * 100);
	width: 3000px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(120%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: $secondary;
		padding: rem(20) 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: 85%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		// border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			// font-size: 16px;

			padding: 10px;
			display: block;

		}
	}


	&__wrap {
		border-top: solid 1px rgba($color: $light, $alpha: 0.2);
		padding: rem(25) rem(40);
		margin-top: rem(20);
	}

	&__mail, &__timetable {
		color: #b6b8c8;
		font-size: $small;
		img {
			margin-right: rem(17);
		}
	}

	&__mail {
		margin-bottom: rem(25);
		display: block;
	}

	&__link {
		display: block;
		text-align: center;
		padding: rem(10);
		color: #b6b8c8;

		&.sm {
			font-size: $xsmall;
			padding: rem(3);
		}
	}
}