.navMenu{
	@include media-breakpoint-up(lg) {
		display: flex;
		margin: 0 rem(-17);
		@include roww(20px);
	}
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;
	&__link{
		display: block;
		text-align: center;
		padding: rem(10) rem(12);
		color: #b6b8c8;
		@include media-breakpoint-up(lg) {
			font-size: $xsmall;
		}
		text-decoration: none;
	}

	&--bottomMnu {
		margin: 0 rem(-20);
		.navMenu__link {
			color: #fff;
			text-transform: uppercase;
			padding: rem(10) rem(20);
			font-size: $small;
			letter-spacing: rem(-0.5);
		}
	}
}