mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js
		span
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			+e.A.link(href="#"  itemprop="url") О нас
			+e.A.link.sm(href="#"  itemprop="url") Записки
			+e.A.link.sm(href="#"  itemprop="url") Паломнический центр
			+e.A.link.sm(href="#"  itemprop="url") Церковная лавка
			+e.A.link(href="#"  itemprop="url") Наш блог
			+e.wrap
				+e.mail(href="mailto:pochta@naafone.ru")
					img.res-i(src="img/@2x/mail.png", alt="")
					|pochta@naafone.ru
				+e.timetable
					img.res-i(src="img/@2x/clock.png", alt="")
					|Круглосуточно  Пн-Вс
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy.d-none.d-lg-block
		.container
			.row.align-items-center
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
				.col
					+mnu()
				.col-auto
					+e.entrence.link-modal(href="#modal-login")
						img.res-i(src="img/@2x/entrence.png", alt="")
						span Вход / Регистрация 
					
	// end top-nav