mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			img.res-i(src=`img/@2x/${icon}.png`, alt="" loading="lazy")
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('fb')
			+item-sos('vk')

//- /social buttons 